@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  height: 100vh;
  color: var(--gray-blue);
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 74rem;
  height: 51rem;
  overflow: hidden;
  display: flex;
  border-radius: var(--column-radius);
  background-color: var(--white);
  box-shadow: 0 3px 4rem hsl(241, 81%, 94%);
}

.col {
  flex: 50%;
  display: 50%;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

/* ELEMENTS */
h1 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

/* results */
.result {
  background-image: linear-gradient(
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
  border-radius: var(--column-radius);
  color: var(--lavender);
  text-align: center;
}

.score {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  padding: 4rem;
  margin: 0 auto 3rem auto;
  width: 200px;
  height: 200px;
  line-height: 1;
  position: relative;
}

.result-container {
  /* centering numbers in circle */
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result-score {
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: var(--white);
}

.result-100 {
  color: var(--slate-blue);
}

.result-status {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.result-description {
  padding: 0 2rem;
}

/* summary */
.summary {
  background-color: var(--white);
}
.category {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  font-weight: 700;
}

.category img {
  margin-right: 1rem;
}

.category-label {
  flex: 2;
}

.category-score {
  color: var(--gray-blue);
  flex: 1;
  text-align: right;
}

.red {
  background-color: hsl(0, 100%, 97%);
  color: var(--red);
}
.yellow {
  background-color: hsl(39, 100%, 96%);
  color: var(--yellow);
}
.green {
  background-color: hsl(166, 100%, 97%);
  color: var(--green);
}
.blue {
  background-color: hsl(234, 85%, 95%);
  color: var(--blue);
}

.grey {
  color: #a8a8a8;
}

.btn {
  width: 100%;
  background-color: var(--gray-blue);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  border: none;
  border-radius: 6rem;
  padding: 1.4rem;
  margin-top: 1rem;
}

.btn:hover {
  background-image: linear-gradient(
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
}

/* MOBILE */
@media only screen and (max-width: 375px) {
  body {
    height: auto;
  }
  main {
    display: block;
    overflow: visible;
    height: auto;
  }

  h1 {
    font-size: 1.8rem;
  }

  .result {
    border-radius: 0 0 var(--column-radius) var(--column-radius);
  }
}

/* VARIABLES */
:root {
  /* primary colors */
  --red: hsl(0, 100%, 67%);
  --yellow: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  /* gradients */
  --slate-blue: hsl(252, 100%, 67%); /*background*/
  --royal-blue: hsl(241, 81%, 54%); /*background*/
  --violet-blue: hsla(256, 72%, 46%, 1); /*circle*/
  --persian-blue: hsla(241, 72%, 46%, 0); /*circle*/

  /* neutrals */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --gray-blue: hsl(224, 30%, 27%);

  --column-radius: 3rem;
}
